html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Poppins;
  --principal-color: #390FAE;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 23px;
}

header span {
  font-weight: 600;
  font-size: 28px;
  color: white;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  color: white;
  font-size: 14px;
  margin-right: 16px;
}

header button {
  font-size: 14px;
  font-weight: 500;
}

button {
  color: white;
  border: 0;
  font-family: Poppins;
  background-color: var(--principal-color);
  border-radius: 10px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: 0.5s background-color;
  cursor: pointer;
}

button:hover {
  background-color: #260978;
}

#headsection {
  height: 100%;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-left: 48px;
  padding-right: 48px;
}

#headsection::after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  position: absolute;
  top: 0;
  left: 0;
}

#headsection * {
  z-index: 4;
}

#headsection-headlines {
  flex: 1;
  align-items: center;
  display: flex;
}

h1 {
  max-width: 746px;
  font-weight: 700;
  font-size: 39px;
  line-height: 58px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 8px;
}

#headsection-headlines h2 {
  max-width: 720px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #E7E7E7;
  margin: 0;
  margin-bottom: 28px;
}

#headsection-headlines button {
  width: 400px;
  height: 53px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

#universities {
  background: #0E0E0E;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 48px;
  padding-right: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#universities h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 41px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 8px;
}

#universities p {
  max-width: 818px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #E7E7E7;
  margin-bottom: 29px;
  margin: 0;
  margin-bottom: 29px;
}

#universities div {
  max-width: 818px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#universities img {
  height: 79px;
  margin-right: 31px;
}

#universities img:last-child {
  margin-right: unset;
}

#courses {
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 48px;
}

.course-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 53px;
}

.course-div-characteristic {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--principal-color);
}

.course-div h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #000000;
  margin: 0;
}

.course-div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5F5F5F;
  margin-top: 5px;
}

.course-list {
  display: flex;
}

.course {
  width: 318px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px 12px 12px 12px;
  margin-right: 8px;
}

.course-header {
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  height: 156px;
  background: url(https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200);
  background-size: cover;
  background-position: center;
  position: relative;
}

.course-header img {
  height: 29px;
  position: absolute;
  top: 9px;
  left: 16px;
}

.course-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0px 0px;
  background-color: rgba(0, 0, 0, 0.76);
}

.course-header * {
  z-index: 3;
}

.course-level {
  position: absolute;
  top: 12px;
  right: 14px;
  background-color: #069E15;
  border-radius: 12px;
  height: 22px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-level span {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.course-info {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0px 0px 12px 12px;
}

.course-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.course-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #5F5F5F;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 9px;
}

.course-info button {
  font-size: 14px;
  font-weight: 500;
}

#vision {
  background: url(../img/vision-background.png);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-between;
}

#vision * {
  z-index: 3;
}

#vision div {
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 48px;
  max-width: 650px;
}

#vision div h2 {
  color: white;
  font-weight: 600;
  font-size: 28px;
  line-height: 41px;
}

#vision div p {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 51px;
  color: #EBEBEB;
}

#vision img {
  align-self: flex-end;
  height: 100%;
}

#vision::after {
  content: '';
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.76);
  width: 100%;
  height: 100%;
  position: absolute;
}