html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Poppins;
  --principal-color: #390FAE;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 23px;
}

header span {
  font-weight: 600;
  font-size: 28px;
  color: white;
}

header div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  color: white;
  font-size: 14px;
  margin-right: 16px;
}

header button {
  font-size: 14px;
  font-weight: 500;
}

button {
  color: white;
  border: 0;
  font-family: Poppins;
  background-color: var(--principal-color);
  border-radius: 10px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: 0.5s background-color;
  cursor: pointer;
}

button:hover {
  background-color: #260978;
}

#headsection {
  min-height: 100%;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 23px;
  position: relative;
}

#headsection::after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  position: absolute;
  top: 0;
  left: 0;
}

#headsection * {
  z-index: 4;
}

#headsection-headlines {
  flex: 1;
  align-items: center;
  display: flex;
}

h1 {
  max-width: 746px;
  font-weight: 700;
  font-size: 39px;
  line-height: 58px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 8px;
}

#headsection-headlines h2 {
  max-width: 720px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #E7E7E7;
  margin: 0;
  margin-bottom: 28px;
}

#headsection-headlines button, #find-course button, #plataforma button, #sobre-nos button, #certificado button {
  width: 400px;
  height: 53px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

#universities {
  background: #0E0E0E;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 48px;
  padding-right: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#universities h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 41px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 8px;
}

#universities p {
  max-width: 818px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #E7E7E7;
  margin-bottom: 29px;
  margin: 0;
  margin-bottom: 29px;
}

#universities div {
  max-width: 818px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#universities img {
  height: 79px;
  margin-right: 31px;
  margin-bottom: 12px;
}

#universities img:last-child {
  margin-right: unset;
}

#courses {
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 48px;
}

.course-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 53px;
}

.course-div-characteristic {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--principal-color);
}

.course-div h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #000000;
  margin: 0;
}

.course-div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5F5F5F;
  margin-top: 5px;
}

.course-list {
  display: flex;
}

.course {
  width: 318px;
  flex: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px 12px 12px 12px;
  margin-right: 8px;
}

.course-header {
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  height: 156px;
  background: url(https://lh6.ggpht.com/HlgucZ0ylJAfZgusynnUwxNIgIp5htNhShF559x3dRXiuy_UdP3UQVLYW6c=s1200);
  background-size: cover;
  background-position: center;
  position: relative;
}

.course-header img {
  height: 29px;
  position: absolute;
  top: 9px;
  left: 16px;
}

.course-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0px 0px;
  background-color: rgba(0, 0, 0, 0.76);
}

.course-header * {
  z-index: 3;
}

.course-level {
  position: absolute;
  top: 12px;
  right: 14px;
  background-color: #069E15;
  border-radius: 12px;
  height: 22px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.course-level span {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.course-info {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0px 0px 12px 12px;
}

.course-info span {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.course-info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #5F5F5F;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 9px;
}

.course-info button {
  font-size: 14px;
  font-weight: 500;
}

#vision {
  background: url(../img/vision-background.png);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-between;
}

#vision * {
  z-index: 3;
}

#vision div {
  padding-top: 55px;
  padding-bottom: 55px;
  padding-left: 48px;
  max-width: 650px;
}

#vision div h2 {
  color: white;
  font-weight: 600;
  font-size: 28px;
  line-height: 41px;
}

#vision div p {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 51px;
  color: #EBEBEB;
}

#vision img {
  align-self: flex-end;
  height: 100%;
}

#vision::after {
  content: '';
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.76);
  width: 100%;
  height: 100%;
  position: absolute;
}

#popular-contents {
  margin: 48px;
}

#popular-contents h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 33px;
  color: var(--principal-color);
}

.popular-contents-list {
  display: flex;
  margin-bottom: 32px;
  justify-content: space-between;
}

.popular-contents-list div {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.popular-contents-list div b {
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 7px;
  font-size: 20px;
}

.popular-contents-list div a {
  color: #5F5F5F;
  margin-bottom: 4px;
  font-size: 20px;
}

#find-course, #plataforma, #sobre-nos, #certificado {
  background-color: #FBFAF9;
  padding-left: 48px;
  padding-top: 93px;
  padding-bottom: 93px;
  display: flex;
  justify-content: space-between;
}

#certificado {
  background-color: white;
}

#find-course h2, #plataforma h2, #sobre-nos h2, #certificado h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  display: flex;
  align-items: center;
  max-width: 650px;
  color: var(--principal-color);
  margin-bottom: 9px;
  margin-top: 0;
}

#find-course p, #plataforma p, #sobre-nos p, #certificado p {
  font-weight: 400;
  font-size: 26px;
  line-height: 39px;
  color: #787878;
  margin: 0;
  margin-bottom: 38px;
}

footer {
  padding: 48px;
}

footer h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 41px;
  margin: 0;
  color: var(--principal-color);
}

#footer-header {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#networks {
  display: flex;
}

#networks a {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background: var(--principal-color);
  margin-right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#networks a:last-child {
  margin-right: unset;
}

.footer-vertical {
  display: flex;
  flex-direction: column;
  margin-right: 42px;
}

.footer-verticals {
  display: flex;
}

.footer-vertical b {
  color: var(--principal-color);
  margin-bottom: 7px;
}

.footer-vertical a {
  color: #5F5F5F;
  margin-bottom: 4px;
}

#headsection-login {
  display: none;
  margin-top: 12px;
}

#headsection-login button {
  border: 3px solid var(--principal-color);
  background-color: transparent;
}

#plataforma, #sobre-nos, #certificado {
  align-items: center;
}

#plataforma img, #sobre-nos img, #certificado img {
  width: 100%;
}

#plataforma div:last-child, #certificado div:last-child {
  flex: 11;
}

#plataforma div:last-child p, #sobre-nos div:last-child p, #certificado div:last-child p {
  font-size: 20px;
  line-height: auto;
  max-width: 650px;
}

#find-course p {
  max-width: 650px;
}

#platform-div, #certificado-div {
  flex: 10;
  height: unset;
  margin-right: 64px;
}

#sobre-nos img {
  height: 400px;
  margin-right: 56px;
  width: auto;
}

#sobre-nos {
  justify-content: center;
}

@media screen and (max-width: 728px) {
  header {
    align-items: center;
    justify-content: center;
  }

  header div {
    display: none;
  }

  #headsection, #universities, #vision, #find-course, #plataforma, #sobre-nos, #certificado {
    padding-left: 12px;
    padding-right: 12px;
  }

  #popular-contents, #courses {
    margin-left: 12px;
    margin-right: 12px;
  }

  #popular-contents {
    text-align: center;
  }

  #headsection-login {
    display: block;
  }

  #headsection-headlines {
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    font-size: 28px;
    line-height: unset;
  }

  #headsection-headlines h2 {
    font-size: 20px;
    line-height: unset;
    text-align: center;
  }

  #headsection-headlines button, #find-course button, #plataforma button, #sobre-nos button, #certificado button {
    width: 100%;
  }
  
  .course-list {
    flex-direction: column;
  }

  .course {
    margin-bottom: 14px;
  }

  #vision {
    flex-direction: column;
  }

  #vision img {
    display: none;
  }

  #vision div {
    padding: unset;
  }

  #vision div h2 {
    font-size: 32px;
    line-height: 41px;
    text-align: center;
  }

  #vision div p {
    font-size: 22px;
    line-height: unset;
    text-align: center;
  }

  .popular-contents-list {
    flex-direction: column;
  }

  .popular-contents-list div {
    margin-right: unset;
    margin-bottom: 12px;
  }

  #find-course, #plataforma, #sobre-nos, #certificado {
    text-align: center;
  }

  #find-course h2, #plataforma h2, #sobre-nos h2, #certificado h2 {
    font-size: 50px;
    line-height: unset;
  }

  #find-course img {
    display: none;
  }

  #footer-header {
    align-items: center;
    justify-content: center;
  }

  #networks {
    display: none;
  }

  .footer-verticals {
    flex-direction: column;
  }

  .footer-vertical {
    margin-bottom: 20px;
    margin-right: unset;
  }

  .course-list {
    align-items: center;
  }

  .course {
    width: 100%;
  }

  #plataforma, #sobre-nos, #certificado {
    flex-direction: column;
    align-items: center;
  }

  #plataforma h2, #sobre-nos h2, #certificado h2 {
    text-align: center;
  }

  #plataforma-div, #certificado-div {
    flex: unset;
  }

  #plataforma img, #platform-div, #certificado img, #certificado-div {
    width: 100%;
    margin: 0;
  }

  #platform-div, #certificado-div {
    margin-bottom: 28px;
  }

  #plataforma div:last-child, #sobre-nos div:last-child, #certificado div:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #sobre-nos {
    justify-content: center;
  }

  #sobre-nos img {
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 28px;
  }

  #universities div {
    flex-direction: column;
  }

  #universities div img {
    margin-right: 0;
    margin-bottom: 24px;
  }
}